<!doctype html>
<title>Quotes</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    {% if anime %}
    <h1>Anime</h1>
    {% elif chars %}
    <h1>Characters</h1>
    {% elif quote %}
        {% for entries in quote %}
        <h1>{{ entries[1] }}</h1>
        {% endfor %}
    {% else %}
    <h1>Error</h1>
    {% endif %}
        <div class=metanav>
        </div>
        {% if anime %}
        {% for titles in anime %}
        <a href="/{{ titles[0] }}/">
            <div class=flash>{{ titles[1] }}</div>
        </a>    
            {% endfor %}
        {% elif chars %}
            {% for characters in chars %}
            <a href="/{{ characters[1].title() }}/{{characters[0]}}/">
                <div class=flash>{{ characters[0] }}</div>
            </a>
                {% endfor %}
        {% elif quote %}
            {% for entry in quote %}
                {% if entry[3] %}
                <img src="/static/img/{{entry[2]}}/{{entry[3]}}" style="position:relative; width:304px;height:228px;">
                {% else %}
                <img src="/static/img/{{entry[2]}}/default.jpg" style="position:relative; width:304px;height:228px;">
                {% endif %}
                <div class=flash >{{ entry[0] }}</div>
            
            {% endfor %}    
        {% endif %}
        {% block body %}{% endblock %}

    </div>
